/* projects.js */
@media (min-width: 800px) {
  .set-card-borders{ 
    grid-template-columns: repeat(2, 1fr); 
  }
}


.page-content {
  background-size:100% auto;
  background-repeat: no-repeat;
  background-color: #161B40;
  background-position: top left;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bkg2 {
  background-image: url(./images/content4.svg);
  background-position: top center;
  background-repeat: repeat-x space;
  margin-top: 100vh;
  width: 100%;
  height: 100%;
}

.cards {
  margin-top: 0px;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  display: grid;
}

.set-card-borders {
  box-align: center;
  margin-top: 300px;
  margin-bottom: 50px;
  display: grid;
  grid-gap: 3em;
}

.card {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.p1 {
  font-family: 'Georgia';
}

/* app */

.footer {
  background-color: #FC4A1A;

}

/* cards */
.demo-card-wide.mdl-card {
  width: 100%;
  min-height: 512px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}
.demo-card-wide {
  color: darksalmon;
}
.demo-card-wide > .mdl-card__title {
  color: #000000;
  height: 250px;
  background: url('./images/Frame\ 4.svg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

/* fade in */
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* background */

.resume {
  position: absolute;
  height: 40px;
  right: 0px;
  top: 10%;
  width: 300px;

  font-family: Lora;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;

  background: #2C3263;
}

.title {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 15%;
  padding-left: 20px;

  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 130px;
  display: flex;
  align-items: center;
}

.subtitle {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 15%;
  padding-left: 20px;

  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 250px;
  display: flex;
  align-items: center;
}

.email {
  position: absolute;
  height: 40px;
  left: 0px;
  right: 70%;
  top: 45%;
  padding-left: 180px;

  font-family: Lora;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 65px;
  display: flex;
  align-items: center;
}

.github {
  position: absolute;
  height: 40px;
  left: 0px;
  right: 70%;
  top: 55%;
  padding-left: 160px;

  font-family: Lora;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 65px;
  display: flex;
  align-items: center;
}

.linkedin {
  position: absolute;
  height: 40px;
  left: 0px;
  right: 70%;
  top: 65%;
  padding-left: 142px;

  font-family: Lora;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 65px;
  display: flex;
  align-items: center;
}

.instagram {
  position: absolute;
  height: 40px;
  left: 0px;
  right: 70%;
  top: 75%;
  padding-left: 125px;

  font-family: Lora;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 65px;
  display: flex;
  align-items: center;
}

.youtube {
  position: absolute;
  height: 40px;
  left: 0px;
  right: 70%;
  top: 85%;
  padding-left: 152px;

  font-family: Lora;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 65px;
  display: flex;
  align-items: center;
}

.rectangle {
  position: absolute;
  height: 40px;
  left: 0px;
  top: 95%;
  width: 65%;

  font-family: Lora;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  
  background: #2C3263;
}

.arrow {
  position: absolute;
  height: 40px;
  right: 0px;
  top: 95%;
  width: 100px;

  font-family: Lora;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 760px)  {
  .resume {
    position: absolute;
    height: 40px;
    right: 0px;
    top: 5%;
    width: 200px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    display: flex;
    align-items: center;
  
    background: #2C3263;
  }

  .title {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 12%;
    padding-left: 20px;

    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 130px;
    display: flex;
    align-items: center;
  }

  .subtitle {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 10%;
    padding-left: 20px;
  
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 250px;
    display: flex;
    align-items: center;
  }

  .email {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 40%;
    padding-left: 58px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 65px;
    display: flex;
    align-items: center;
  }
  
  .github {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 47.5%;
    padding-left: 47px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 65px;
    display: flex;
    align-items: center;
  }
  
  .linkedin {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 55%;
    padding-left: 35px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 65px;
    display: flex;
    align-items: center;
  }
  
  .instagram {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 62.5%;
    padding-left: 23px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 65px;
    display: flex;
    align-items: center;
  }
  
  .youtube {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 70%;
    padding-left: 41px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 70px;
    display: flex;
    align-items: center;
  }

  .rectangle {
    position: absolute;
    height: 40px;
    left: 0px;
    top: 95%;
    width: 100%;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    
    background: rgba(44, 50, 99, 0);
  }
  
  .arrow {
    position: absolute;
    height: 40px;
    right: 0px;
    left: 85%;
    top: 95%;
    width: 20px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 320px)  {
  .resume {
    position: absolute;
    height: 30px;
    right: 0px;
    top: 5%;
    width: 150px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
  
    background: #2C3263;
  }

  .title {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 12%;
    padding-left: 5px;
  
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 130px;
    display: flex;
    align-items: center;
  }

  .subtitle {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 8%;
    padding-left: 5px;
  
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 250px;
    display: flex;
    align-items: center;
  }

  .email {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 37.5%;
    padding-left: 58px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 65px;
    display: flex;
    align-items: center;
  }
  
  .github {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 45%;
    padding-left: 47px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 65px;
    display: flex;
    align-items: center;
  }
  
  .linkedin {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 52.5%;
    padding-left: 35px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 65px;
    display: flex;
    align-items: center;
  }
  
  .instagram {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 60%;
    padding-left: 23px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 65px;
    display: flex;
    align-items: center;
  }
  
  .youtube {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 67.5%;
    padding-left: 41px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 70px;
    display: flex;
    align-items: center;
  }

  .rectangle {
    position: absolute;
    height: 40px;
    left: 0px;
    top: 95%;
    width: 100%;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    
    background: rgba(44, 50, 99, 0);
  }
  
  .arrow {
    position: absolute;
    height: 40px;
    right: 0px;
    left: 85%;
    top: 90%;
    width: 20px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 1080px)  {
  .resume {
    position: absolute;
    height: 40px;
    right: 0px;
    top: 10%;
    width: 300px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
  
    background: #2C3263;
  }
  
  .title {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 15%;
    padding-left: 130px;
  
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 130px;
    display: flex;
    align-items: center;
  }
  
  .subtitle {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 15%;
    padding-left: 130px;
  
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 250px;
    display: flex;
    align-items: center;
  }
  
  .email {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 45%;
    padding-left: 380px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
  }
  
  .github {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 55%;
    padding-left: 360px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
  }
  
  .linkedin {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 65%;
    padding-left: 342px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
  }
  
  .instagram {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 75%;
    padding-left: 325px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
  }
  
  .youtube {
    position: absolute;
    height: 40px;
    left: 0px;
    right: 70%;
    top: 85%;
    padding-left: 352px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
  }
  
  .rectangle {
    position: absolute;
    height: 40px;
    left: 0px;
    top: 95%;
    width: 80%;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    
    background: #2C3263;
  }
  
  .arrow {
    position: absolute;
    height: 40px;
    right: 0px;
    top: 95%;
    width: 100px;
  
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
  }
}